body{
  background-color: #EAF6F6;
}

hr{
   background-color:#EAF6F6;
   border-bottom-style: none;
   border-right-style: none;
   border-left-style: none;
   border-top-style: dotted ;
   border-top-color: orangered;
   border-top-width: 5px;
   width: 3%;
}
h1{
  text-align: center;
  color:Green;
  text-decoration: underline;
  text-shadow: 2px 2px Yellow;
}

h3{
  color:orange;
}
